/* --- root and body --- */

:root {
  /* base */
  --primary: #1e3a8a;

  /* dark blue */
  --accent: #3b82f6;
  --background: #273b57;
  --input-bg: #1e293b;

  /* bright blue */
  --neutral: #f5f5f5;
  --dark-bg: #0f172a;

  /* light gray */
  --text-light: #e2e8f0;

  /* dark mode */
  --text-dark: #1f2937;

  /* button */
  --button-background: #2398ff;
  --button-hover: #145a97;
  --buttom-active: #003569;

  /* borders and shadows */
  --radius: 10px;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.473);

  /* text */
  --font-main: sans-serif;
}

body{
  margin: 0;
  background-color: var(--dark-bg);
  color: var(--text-light);
  font-family: var(--font-main);
  box-sizing: border-box;
}

/* --- container divs */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title{
  font-style: italic;
  text-decoration: underline var(--accent) 3px;
}

.box{
  padding: 2rem;
  text-align: center;
  background-color: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  max-width: 320px;;
}

.buttons{
  padding: 1rem;
  display: flex;
  gap: 15px;
}

/* --- button styles */

button{
  border-radius: var(--radius);
  padding: 0.75rem;
  background-color: var(--button-background);
  color: var(--text-light);
  font-size: 1em;
  min-width: 100px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

button:hover{
  background-color: var(--button-hover);
}

button:active{
  background-color: var(--buttom-active);
  box-shadow: var(--shadow);
}

/* --- input */

#answer-input{
  background-color: var(--input-bg);
  border: none;
  padding: 0.5rem;
  font-size: .8em;
  color: var(--text-light);
  border-radius: var(--radius);
}

#answer-form{
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

#answer-submit{
  padding: 2px;
}

/* --- accessibility */

:focus-visible {
  outline: 3px solid var(--accent);
  outline-offset: 3px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
